.box {
    height:50px;
   
}
.wrapper {
    display: flex;
    height: 200px;
    border: 6px solid ;
    /* flex-flow: column wrap; */
    /* flex-direction: column; */
    /* flex-wrap: wrap-reverse; */
}
.box1 {
    order: 3;
    background:#f00;
}
.box2 {
    order: 1;
    background: #0f0;
}
.box3 {
    background: #00f;
}
.box4 {
    background: #ff0;
}