.content {
    display: flex;
    flex:1;

    height: 100vh;
    border: 1px dashed;
}
main {
    flex: 1;
    background: #fff;

}
aside {

    background: #fff;
    width: 150px;
}
.content :nth-child(2){
    order:-1;
}
header{
    background: #f00;
}
footer {
    background: #f0f;
}
/* ul :nth-of-type(3){
    background: #f00;
} */
/* a:link {
    color: red;
} */

.city:checked {
    background-color: #f00;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
}
.city:disabled {
    background: orange;
    appearance: none;
    width: 20px;
    height: 20px;    
}

input:focus {
    background: green;
}


.tab {
    border:1px dashed red;
}
.content1 {
    width: 200px;
    height:200px;
    border:1px dashed green;
    display:none;
}
.content1:target {
    /* display: block; */
}

ul :not(li){
    color: blue;
}

.one::selection {
    color:red;
}