* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 150px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
}
.close {
    float: right;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
}

.modal:target {
    display: block;
}

.content {
    border-top: 1px solid #ccc;
    padding: 20px;
}
h2 {
    padding: 15px 10px;
}