



.relative {
    position: relative;
    top: 10px;
    left: 10px;
}


.fixed {
    position: fixed;
    top: 20px;
    left: 30px;
    background: blue;
    color: #ffffff;
}




.box,.box1,.box2 {
    border: 1px dashed red;
    padding:20px;
    margin: 10px;
}
.box2{
    position:absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background: rgba(255, 255, 0, 0.3)
}
.box1 {
    position: relative;
}
.sticky {
    position: sticky;
    bottom: 10px;
    top: 10px;
    background:red ;

}
.div_sticky {
    border: 10px dashed red;
}