main{
  border: 2px blueviolet solid;
  float: left;
  padding: 30px;
}
.clock{
  font-size: 20px;
  color:blueviolet;
}
main h1{
  color:blueviolet;
  font-size: 20px;
}
button{
  color:blueviolet;
  font-size: 10px;
  font-weight: bold;
}
